.hero-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}

.hero-container::after,
.hero-container::before {
    content: '';
    width: 28.125rem;
    height: 28.125rem;
    border-radius: 28.125rem;
    background: #613efd99;
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.hero-container::after {
    top: -3rem;
    left: -5rem;
}

.hero-container::before {
    bottom: -6rem;
    right: -4rem;
}


.hero-content {
    flex: 1;
    /* border: 1px solid red; */
    margin-top: 4.2rem;
}

.hero-content h2 {
    font-size: 5.8rem;
    font-weight: 600;
    line-height: 7rem;
    margin-bottom: 2rem;
}

.hero-content p {
    width: 85%;
    font-size: 1.38rem;
    font-weight: 400;
    line-height: 2rem;
    margin-bottom: 1rem;

}

.social-bar {
    /* border: 1.5px solid #6852ba; */
    border-radius: 0.65rem;
    height: 3.8rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    margin-top: 1rem;
}

.social-icon {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    /* Add padding to create space around icons */
    padding-right: 3.2rem;
    /* Adjust the value to your preference */
}


.social-icon img {
    height: 3rem;
    width: 3rem;

}

.social-icon>a img {
    padding: 3px;
}



.social-icon>a img:hover {
    background-color: #110c2799;
    padding: 4px;
}


.hero-img {
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 5rem;
    width: 30rem;
    height: auto;
    /* overflow: hidden; */
}

.hero-illustration {
    width: 60rem;
    height: auto;

}


.hero-img>div {
    display: flex;
    align-items: flex-end;
    gap: 2rem;


}


.hero-img>div>img {
    width: 25rem;
    transition: all 0.3s ease;
}



.tech-icon {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.65rem;
    border: 1.5px solid #6852ba;
    /* box-shadow: 0 0 0 2px #613efd75, 8px 8px 0 0 #613efd5d; */
}


.tech-icon img {
    height: 4.2rem;
    width: auto;
    transition: all 0.3s ease;
}

.hero-img>div>img:hover,
.tech-icon img:hover {
    transform: translateY(-0.3rem);
}

#emailIcon {
    height: 3.5rem;
    width: auto;
}

@media (max-width: 1025px) {
    .hero-content h2 {
        font-size: 5rem;
        line-height: 5rem;
    }

    .hero-content p {
        font-size: 1.2rem;
        line-height: 1.6rem;
    }

    .hero-img>div>img {
        width: 20rem;
    }

    .tech-icon {
        width: 4rem;
        height: 4rem;
    }



    .social-bar {
        height: 3rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .social-icon {
        width: 3rem;
        height: 3rem;

    }

    .social-icon img {
        width: 3rem;
        height: 3rem;
        display: flex;

    }
}


@media (max-width: 769px) {
    .hero-container {
        flex-direction: column;
    }

    .hero-img {
        margin: 2rem 0 2rem 0;
    }

    .hero-content h2,
    .hero-content p {
        width: auto;
        text-align: center;
    }

    .hero-container::after,
    .hero-container::before {
        content: '';
        width: 18rem;
        height: 18rem;
    }

    .hero-container::after {
        top: 0rem;
        left: 0rem;
    }

    .hero-container::before {
        bottom: 2rem;
        right: 0rem;
    }

    .social-bar a>img {
        height: 3rem;
        width: 3rem;
    }


}

@media (max-width: 600px) {

    .hero-container h2 {
        font-size: 3.2rem;
        line-height: 3.2rem;
    }

    .hero-container p {
        font-size: 1rem;
        line-height: 1.3rem;
    }

    .hero-img {
        gap: 1rem;
    }

    .hero-img>div {
        gap: 1rem;
    }

    .hero-img>div>img {
        width: 16rem;
    }


    .social-bar,
    .social-icon img {
        height: 3rem;
        width: auto;
    }
}