.skills-container {
    margin: 4rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
}

.skills-container>p {
    margin: 1.2rem 0rem;
    font-size: 1.1rem;

}

.tech-stacks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 1rem 0;
}

.stack-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: .25rem 0rem;
}

.stack-row:nth-of-type(2) {
    align-items: center;
    justify-content: center;
    gap: .3rem;
}

.tech-icon {
    max-width: 5.5rem;
    max-height: 5.5rem;
    display: flex;
    padding: 0rem 3rem;
    border-color: transparent;
}


.tech-icon img {
    height: 4.2rem;
    width: auto;
    transition: all 0.3s ease;
}

.hero-img>div>img:hover,
.tech-icon img:hover {
    transform: translateY(-0.3rem);
}



.skills-container::after,
.skills-container::before {
    content: "";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    background-color: #6652c0cc;
    position: absolute;
    z-index: -1;
    filter: blur(200px);
}

.skills-container::after {
    top: 0rem;
    left: 5rem;
}

.skills-container::before {
    /* background-color: #7f4296c4; */
    background-color: #413283;
    bottom: -10rem;
    right: 0rem;
    height: 20rem;
    width: 20rem;
}



.skills-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

.skills-content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin-top: 1rem;
}

.skills {
    flex: 1;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
}

.skills-info {
    flex: 1;
}

@media (max-width: 1025px) {
    .skills {
        padding-left: 1rem;
    }

    .skills,
    .skills-content {
        grid-gap: 2rem;
    }


}

@media (max-width: 783px) {
    .skills-content {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .skills,
    .skills-info {
        width: 100%;

    }

    .skills-container h5 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }

    .skills-container::after,
    .skills-container::before {
        height: 18rem;
        width: 18rem;
    }

    .stack-row img {
        flex-direction: row;
        align-items: center;
        max-width: 4.3rem;
        max-height: 4.3rem;
    }

}

@media(max-width: 600px) {
    .skills-container {
        padding: 0;
    }
}