.contact-details-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.contact-details-card .icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    /* align-items: center; */


}

.icon img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    padding: 0;
}