.contact-container {
    margin: 5rem 0;
    position: relative;


}

.contact-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;

}

.contact-content {
    display: flex;
    gap: 3rem;
    /* max-width: 60%; */
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    text-align: start;
}


.contact-content p {
    text-align: start;
    font-size: 1.1rem;
    margin-top: 3rem;
}

.socials-bar {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.socials-bar a img:hover {
    padding: .1rem;
}

.contact-content>div>img {
    width: 20rem;
    height: auto;
    border-radius: 0.65rem;
    /* border: 1px solid red; */
}



@media (max-width: 769px) {
    .contact-content {
        flex-direction: column-reverse;

    }

    .contact-container h5 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
}